.pagination {
  display: inline-block;
}

.pagination a {
  color: white;
  background-color: #272f5d;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #9ba3eb;
  color: white;
}
