.slider_container {
  width: 800px;
  margin: auto;
}
@media only screen and (max-width: 900px) {
  .slider_container {
    width: 600px;
  }
}
@media only screen and (max-width: 600px) {
  .slider_container {
    width: 400px;
  }
}
@media only screen and (max-width: 400px) {
  .slider_container {
    width: 100%;
  }
}
.slider_character {
  width: 100%;
  /* left: 10%; */
  /* padding: 0; */
}
.slider_character .slick-list {
  padding: 0 !important;
}
.slider_character .slick-slide.slick-active.slick-center.slick-current {
  padding: 0 50px !important;
  display: none;
}
